target/
autoschematic/target/
autoschematic-core/target/
autoschematic-cli/target/
autoschematic-connector-python/
docs.autoschematic.sh/
scripts/
secret/
.secret/
doc
repo_cache/
*.pem
*.p8
*.pub
*_ed25519
.env
.dockerenv
.vscode/
.git/